@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wdth,wght@8..144,25..151,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100..800&display=swap");
@font-face {
  font-family: "Roxborough";
  font-weight: 400;
  font-style: italic;
  src: url("/fonts/Roxborough Regular Italic.ttf");
}
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital@0;1&display=swap");

html {
  @apply bg-zinc-100;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  @apply rounded;
}

#navbar {
  a.active p {
    font-variation-settings: "wdth" 151, "wght" 1000;
    @apply bg-zinc-800 px-4 text-zinc-100 lg:px-20;
  }

  p {
    font-variation-settings: "wdth" 25, "wght" 350;
  }
}

.panel-1 {
  grid-template: 4rem 1fr 1fr 1fr 1fr 1fr 4rem / 4rem 1fr 1fr 1fr 4rem;

  @media (min-width: 768px) {
    h1 {
      grid-area: 3 / 2 / 4 / 5;
    }
    .middle {
      grid-area: 5 / 3 / 6 / 4;
    }
    .left {
      grid-area: 5 / 2 / 6 / 3;
    }
    .right {
      grid-area: 5 / 4 / 6 / 5;
    }
    .cube {
      grid-area: 4 / 3 / 5 / 4;
    }
  }
  h1 {
    grid-area: 2 / 2 / 4 / 5;
  }
  .middle {
    grid-area: 5 / 3 / 7 / 4;
  }
  .left {
    grid-area: 5 / 2 / 7 / 3;
  }
  .right {
    grid-area: 5 / 4 / 7 / 5;
  }
  .cube {
    grid-area: 4 / 3 / 5 / 4;
    grid-template: 0.75rem 0.75rem / 0.75rem 0.75rem;
    span {
      @apply h-3 w-3 bg-zinc-800;
    }
  }
}
