@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Six+Caps&display=swap");

html {
  background-position: center;
  background-image: radial-gradient(#ddd 2px, #fff 2px);
  background-size: 40px 40px;
  @apply font-cairo;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00519e;
  @apply rounded;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0084ff;
}

#navbar {
  @apply fixed bottom-[4vh] right-1/2 flex translate-x-1/2 overflow-hidden rounded-full border border-black lg:right-[4vh] lg:bottom-1/2 lg:translate-x-0 lg:translate-y-1/2;

  ol {
    @apply flex flex-row lg:flex-col;
  }
  li {
    @apply flex-grow;
  }
  p {
    @apply bg-white px-6 py-1 text-center transition lg:py-8 lg:px-1;
  }
  a.active p {
    @apply bg-black text-white;
  }
}

.panel-1 {
  @apply m-[2vh] flex h-[96vh] flex-col place-content-center items-center;

  background: linear-gradient(#00000033, #00000033),
    url(/images/bg.jpg) no-repeat;
  background-size: cover;

  .n1,
  .n3 {
    @apply text-[4vmin] text-white;
  }
  .n2 {
    line-height: 70vmin;
    @apply mb-2 font-sixcaps text-[70vmin] uppercase text-white mix-blend-difference;
  }
}

.panel-2 {
  @apply h-screen bg-red-500;
}
